* {
  font-family: Arial, Helvetica, sans-serif;
}

/* add different title font size for mobile */
.title {
  font-family: Helvetica Neue;
  color: rgb(190, 107, 52);
  font-size: 70px;
  font-size: 8vw;
  position: absolute;
  letter-spacing: 15px;
  top: 20%;
  left: 10%;
  font-weight: 350;
}

.subtitle {
  font-family: Helvetica Neue;
  color: white;
  position: absolute;
  top: 60%;
  left: 10%;
  font-weight: 350;
  font-size: 3vw;
}

img.valley {
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(206, 206, 206);
}

.journal {
  box-sizing: content-box;
}

.white_box {
  background-color: white;
  padding: 5%;
  width: 30%;
  height: 50%;
  top: 70%;
  left: 8%;
  position: absolute;
}

.white_box.journal{
  height: 30%;
  width: 40%;
}

.white_box.memories {
  top: 120%;
  left: 55%;
  position: absolute;
}

.white_box.people {
  top: 170%;
  position: absolute;
}

.white_box.places {
  top: 220%;
  left: 55%;
  position: absolute;
  height: 40%;
}

.box_title {
  font-size: 40px;
}

.box_content {
  padding-top: 20px;
}

.button {
  border: none;
  position: absolute;
  width: 150px;
  height: 40px;
  color: white;
  background-color: rgb(128, 90, 20);
  z-index: 2;
}

.button.jb {
  top: 115%;
  left: 25%;
}

.button.m {
  top: 160%;
  right: 35%;
  height: 7%;
  width: 15%;
}

.button.pl {
  top: 250%;
  right: 35%;
  height: 7%;
  width: 15%;
}

.button.pe {
  top: 210%;
  left: 30%;
  height: 7%;
  width: 15%;
}

.img_bq {
  width: 100%;
  height: auto;
  padding-left: 17.5%;
  padding-right: 2.5%;
  background-color: rgb(206, 206, 206);
}

.img_brendan {
  width: 100%;
  height: auto;
  padding-right: 17.5%;
  padding-left: 2.5%;
  background-color: rgb(206, 206, 206);
}

.header_title {
  color: rgb(128, 90, 20);
  padding-left: 20%;
}

.header_content {
  padding-left: 400px;
}

@media only screen and (min-width: 1000px) {
  .white_box {
    top: 90%;
  }

  .subtitle {
    top: 70%;
  }

  .white_box.memories {
    top: 170%;
  }

  .white_box.people {
    top: 250%;
  }

  .white_box.places {
    top: 310%;
  }

  .button.jb {
    top: 135%;
    left: 27%;
  }

  .button.m {
    top: 210%;
  }

  .button.pe {
    top: 290%;
  }

  .button.pl {
    top: 360%;
  }
}

@media only screen and (min-width: 1200px) {
  .white_box.journal {
    top: 100%;
  }

  .subtitle {
    top: 80%;
  }

  .button.jb {
    top: 145%;
    left: 30%;
  }

  .white_box.people {
    top: 320%;
  }

  .white_box.places {
    top: 400%;
  }

  .button.pe {
    top: 360%;
  }

  .button.pl {
    top: 420%;
  }
}

@media only screen and (max-width: 750px) {
  .subtitle {
    top: 50%;
  }

  .white_box {
    top: 60%;
    width: 30%;
    height: 40%;
  }

  .button.jb {
    top: 95%;
  }

  .box_content {
    font-size: small;
  }

  .box_title {
    font-size: large;
    font-weight: bold;
  }

  .white_box.memories {
    top: 120%;
  }

  .white_box.people {
    top: 180%;
  }

  .white_box.places {
    top: 220%;
  }

  .button.m {
    top: 150%;
  }
}

@media only screen and (max-width: 700px) {
  .subtitle {
    display: none;
  }

  .white_box {
    width: 50%;
    height: 20%;
    padding: 5px;
  }

  .box_title {
    font-size: 14px;
  }

  .box_content {
    padding: 3px;
    font-size: 12px;
  }

  .button{
    width: 50%;
    height: 7%;
  }

  .button.jb {
    top: 65%;
    left: 45%;
  }

  .button.m {
    top: 115%;
    left: 35%;
  }

  .white_box.journal{
    top: 50%;
  }

  .white_box.memories {
    top: 100%;
  }

  .white_box.people {
    top: 150%;
  }

  .white_box.places {
    top: 200%;
  }

}
